[Desktop Entry]
Name=Cursor
Exec=$HOME/bin/cursor --enable-features=UseOzonePlatform --ozone-platform-hint=wayland %F

Icon=$HOME/.icons/cursor.png
Type=Application
Categories=GNOME;GTK;Utility;Development;

[Desktop Action new-empty-window]
Exec=$HOME/bin/cursor --enable-features=UseOzonePlatformc --ozone-platform-hint --new-window %F
